.content {
    display: none;
    margin-bottom: 30px;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

.active + .content {
    display: block;

}

h3.clickable{
    cursor: pointer;
    margin-bottom: 10px;

}

@media (max-width: 768px) {
    .content{
        padding-left: 0px;
        padding-right: 0px;
    }
}