.content {
    display: none;
    margin-bottom: 30px;
    flex: 1;
    padding: 20px;
    overflow: auto;
}

.active + .content {
    display: block;

}

h3.clickable{
    cursor: pointer;
    margin-bottom: 30px;
}